.bdep/

# Compiler/linker output.
#
*.d
*.t
*.i
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc

# Generated documentation.
#
*.pdf
*.ps

# Generated build system files.
#
*-dynamic.make

# Generated .gitignore files.
#
.gitignore
